# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build dirs
*/Debug/*
Debug/*
ipch/*
*/bin/*
*/obj/*
*.dll
*.obj

*.opensdf
*.sdf
*.suo